* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.widget {
    padding: 10px;
    border: 1px solid black;
}

.title {
    margin: 0;
    margin-bottom: .5rem;
}

.currency-row {
    display: flex;
    justify-content: space-evenly;
}

.currency-input, .tip-input {
    border: 1px solid #333;
    border-radius: 0.3em;
    padding: 0.25rem;
    width: 7em;
    height: 2.5rem;
    font-size: 1.2rem;
}

.currency-select {
    border: 1px solid #333;
    margin-left: 0.5rem;
    border-radius: 0.3em;
    height: 2.5rem;
    font-size: 1.2rem;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}

.tip-input {
    width: 11.45em;
}


.tip-percentage {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.tip-percentage > button {
    padding: 3px 5px 3px 5px;
    border: 1px solid #333;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.button-default {
    background-color: white;
    /* grid-area: btn; */
}

.button-selected {
    background-color: #008CBA;
    color: white;
}

.button-custom {
    grid-column: span 2;
}

.tip-input-custom {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3em;
    height: 2rem;
    width: 7em;
    font-size: 1em;
    text-indent: 5px;
    grid-column: span 2;
}

span {
    border-bottom: 1px dotted black;
}

.tip-summary {
    margin-top: 1.8rem;
    font-size: 1.2em;
}

.tax-input {
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding-right: 2px;
    width: 5em;
    text-align: right;
}

.tip-summary > p {
    text-align: right;
}

.tip-summary > p > span {
    display: inline-block;
    width: 5em;
    font-weight: bold;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }