* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.widget {
    padding: 10px;
    border: 1px solid black;
}

.title {
    margin: 0;
    margin-bottom: .5rem;
}

.currency-input {
    border: 1px solid #333;
    border-radius: 0.3em;
    padding: 0.25rem;
    width: 7em;
    height: 2.5rem;
    font-size: 1.2rem;
}

.currency-select {
    border: 1px solid #333;
    margin-left: 0.5rem;
    border-radius: 0.3em;
    height: 2.5rem;
    font-size: 1.2rem;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }