* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
}

.container {
    text-align: center;
}

.widget {
    padding: 10px;
    border: 1px solid black;
}

.title {
    margin: 0;
    margin-bottom: .5rem;
}

.currency-row {
    display: flex;
    justify-content: space-evenly;
}

.currency-input, .bill-input {
    border: 1px solid #333;
    border-radius: 0.3em;
    padding: 0.25rem;
    width: 7em;
    height: 2.5rem;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
}

.currency-select {
    border: 1px solid #333;
    margin-left: 0.5rem;
    border-radius: 0.3em;
    height: 2.5rem;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}

.bill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.bill-input {
    grid-column: span 4;
    width: 100%;
}

.bill > button {
    padding: 3px 0 3px 0;
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
}

.button-default {
    background-color: white;
    border: 0.5px solid grey
}

.button-selected {
    background-color: #008CBA;
    border: none;
    color: white;
}

.button-custom {
    grid-column: span 2;
}

.tip-input {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 0.3em;
    height: 2rem;
    width: 7.5em;
    font-size: 1em;
    text-indent: 5px;
    grid-column: span 2;
    font-family: 'Karla', sans-serif;
}

.tip-input:disabled {
    background-color: #D5D5D5;
}

.tip-summary {
    margin-top: 1.8rem;
    font-size: 1.2em;
}

.tax-input {
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding-right: 2px;
    width: 5em;
    text-align: right;
    font-family: 'Karla', sans-serif;
}

.tip-summary > p {
    text-align: right;
}

.tip-summary > p > span {
    display: inline-block;
    width: 5em;
    font-weight: bold;
}

.summary-input {
    width: 100%;
    font-size: 1em;
    border: none;
    border-bottom: 1px dotted black;
    text-align: right;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }